<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Connect Four AI</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>

<body>

<div th:replace="fragments/navigation :: backToHome"></div>

<h1>Connect Four</h1>

<!-- Current player -->
<div th:if="${winner == null && !boardFull}">
    <h3>
        Current Player:
        <span th:text="${currentPlayer + ' (' + currentPlayerType + ')'}"></span>
    </h3>
</div>

<!-- Winner / Draw -->
<div th:if="${winner != null}">
    <h2 th:text="${winner.name() + ' (' + winnerType + ')' + ' wins!'}"></h2>
</div>

<div th:if="${winner == null && boardFull}">
    <h2>Draw!</h2>
</div>

<div th:replace="fragments/board :: boardFragment(${board}, ${player1Type.name()}, ${player2Type.name()}, ${currentPlayerType.name()}, ${gameOver})"></div>

<br/>

<!-- AI Move Button -->
<form th:if="${!gameOver and currentPlayerType.name() != 'HUMAN'}"
      th:action="@{/nextMove}" method="get">
    <button type="submit">Next Move</button>
</form>

<!-- Reset -->
<form th:action="@{/reset}" method="get">
    <button type="submit">Reset</button>
</form>

</body>
</html>